body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:linear-gradient(135deg,#c2ffd8,#465efb);
  color:#2c3e50;
}

#loginPage{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-box{
  background:white;
  padding:30px;
  border-radius:15px;
  width:300px;
  text-align:center;
  box-shadow:0 8px 20px rgba(0,0,0,.2);
}

input, button{
  width:100%;
  padding:10px;
  margin-top:10px;
  border-radius:8px;
  border:1px solid #ccc;
}

button{
  background:#27ae60;
  color:white;
  border:none;
  cursor:pointer;
}

#mainPage{display:none;}

header{
  background:#2ecc71;
  color:white;
  padding:30px;
  text-align:center;
  position:relative;
}

.logout{
  position:absolute;
  top:6px;
  right:6px;
  background:#e74c3c;
  padding:2px 6px;
  border-radius:4px;
  font-size:10px;
}

section{
  padding:30px;
  max-width:1100px;
  margin:auto;
}

h2{color:#27ae60;}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:white;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
  overflow:hidden;
  cursor:pointer;
}

.card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.card-content{padding:15px;}

.ai-box{
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.popup{
  display:none;
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:rgba(0,0,0,0.6);
  justify-content:center;
  align-items:center;
  z-index:999;
}

.popup-content{
  background:white;
  padding:25px;
  border-radius:15px;
  max-width:420px;
  text-align:center;
}

.close-btn{
  margin-top:15px;
  background:#e74c3c;
}

footer{
  text-align:center;
  padding:20px;
  background:#2ecc71;
  color:white;
  margin-top:40px;
}
